{% extends "base.html" %}
{% block source %}<source type="{{ type }}" src="{{ url | safe}}" >{% endblock %}
{% block script %}
            var defaultOptions = {
                "autoplay": false,
                "muted": false,
                "loop": {
                    "active": false
                },
                "captions": {
                    "active": true,
                    "update": true,
                }
            };
            defaultOptions.previewThumbnails = {
                            enabled: true,
                            src: '{{ track_url | safe }}'
                        };
            defaultOptions.tooltips = {controls: true, seek:true};
            defaultOptions.disableContextMenu = false;
            defaultOptions.quality = {
                            default: 360,
                        };
            {% block player %}{{ super() }}{% endblock %}
{% endblock %}
