{% extends "base.html" %}
{% block load_scripts %}
    <script "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/3.1.3/dash.all.min.js"></script>
{% endblock %}
{% block crossorigin %}crossorigin{% endblock %}
{% block source %}<source src="{{ url | safe }}">{% endblock %}
{% block script %}
            const video = document.getElementById("player");
            document.addEventListener("DOMContentLoaded", function() {
                            const source = video.getElementsByTagName("source")[0].src;
        const dash = dashjs.MediaPlayer().create();
        var defaultOptions = {
            "autoplay": false,
            "muted": false,
            "loop": {
                "active": false
            },
            "captions": {
                "active": true,
                "update": true
            }
        };
        dash.initialize(video, source, false);
        dash.updateSettings({
            streaming: {
                abr: {
                    autoSwitchBitrate: {
                        audio: false,
                        video: false
                    }
                },
                fastSwitchEnabled: true,
                lowLatencyEnabled: true
            }
        });
        dash.setProtectionData({
            "com.widevine.alpha": {
                            "serverURL": "{{ widevine_url | safe }}"
            },
            "com.microsoft.playready": {
                            "serverURL": "{{ microsoft_url | safe }}"
            }
        });
        dash.on("streamInitialized", function() {
        {% if not bitrate %}
            const availableQualities = dash.getBitrateInfoListFor("video").map((l) => l.height);
            defaultOptions.quality = {
                default: availableQualities[0].height,
                options: availableQualities,
                forced: true,
                onChange: function(newQuality) {
                    dash.getBitrateInfoListFor("video").forEach((level, levelIndex) => {
                        if (level.height === newQuality) {
                            dash.setQualityFor("video", level.qualityIndex);
                        }
                    });
                },
            };
        {% else %}
            const availableQualities = dash.getBitrateInfoListFor("video").map((l) => l.bitrate);
            defaultOptions.quality = {
                default: availableQualities[0].bitrate,
                options: availableQualities,
                forced: true,
                onChange: function(newQuality) {
                    dash.getBitrateInfoListFor("video").forEach((level, levelIndex) => {
                        if (level.bitrate === newQuality) {
                            dash.setQualityFor("video", level.qualityIndex);
                        }
                    });
                },
            };
        {% endif %}
            defaultOptions.previewThumbnails = {
                            enabled: true,
                            src: '{{ track_url | safe }}'
                        };
            defaultOptions.tooltips = {controls: true, seek:true};
            {% block player %}{{ super() }}{% endblock %}
            window.player = player;
            window.dash = dash;
        });
        dash.attachView(video);
    });
{% endblock %}
