{% extends "base.html" %}
{% block load_scripts %}
        <script "text/javascript" src="https://cdn.jsdelivr.net/npm/hls.js"></script>
{% endblock %}
{% block crossorigin %}crossorigin{% endblock %}
{% block source %}<source src="{{ url | safe }}">{% endblock %}
{% block script %}
            document.addEventListener("DOMContentLoaded", () => {
                            const video = document.querySelector("video"),
                                n = video.getElementsByTagName("source")[0].src,
                                defaultOptions = {};
                                            var config = {
                                                            maxMaxBufferLength: 100,
                                                        };
                                            const t = new Hls(config);
                                            t.loadSource(n), t.on(Hls.Events.MANIFEST_PARSED, function(n, l) {
                                                            const s = t.levels.map(video => video.height);
                                                            defaultOptions.quality = {
                                                                            default: s[0],
                                                                            options: s,
                                                                            forced: !0,
                                                                            onChange: video => (function(video) {
                                                                                            window.hls.levels.forEach((n, defaultOptions) => {
                                                                                                            n.height === video && (window.hls.currentLevel = defaultOptions)
                                                                                                        })
                                                                                        })(video)
                                                                        };
                                                            defaultOptions.previewThumbnails = {
                                                                            enabled: true,
                                                                            src: '{{ track_url | safe }}'
                                                                        };
                                                            defaultOptions.tooltips = {controls: true, seek:true};
                                                            {% block player %}{{ super() }}{% endblock %}
                                                        }), t.attachMedia(video), window.hls = t
                        });
{% endblock %}
