{% extends "base.html" %}
{% block source %}
            {% for video in videos %}
                <source type="video/mp4" src="{{ video["url"] | safe }}" size="{{ video["format"] }}">
            {% endfor %}
            {% if caption %}
                <track src="{{ video_captions['en']|safe }}" kind="captions" srclang="en" label="English" default>
                <track src="{{ video_captions['hi']|safe }}" kind="captions" srclang="hi" label="Hindi">
            {% endif %}
{% endblock %}
{% block script %}
            window.addEventListener("load", function() {
              var tracks = document.querySelectorAll("track")
                console.log(tracks);
              for (var i = 0; i < tracks.length; i++) {
                loadTrackWithAjax(tracks[i]);
              }
            });
            function loadTrackWithAjax(track) {
              var xhttp = new XMLHttpRequest();

              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200 && this.responseText) {
                  // If VTT fetch succeeded, replace the src with a BLOB URL.
                  var blob = new Blob([this.responseText], { type: 'text/vtt' });
                  track.setAttribute("src", URL.createObjectURL(blob));
                }
              };
              xhttp.open("GET", track.src, true);
              xhttp.send();
            }
            var defaultOptions = {
                "autoplay": false,
                "muted": false,
                "loop": {
                    "active": false
                },
                "captions": {
                    "active": true,
                    "update": true,
                }
            };
            defaultOptions.tooltips = {controls: true, seek:true};
            defaultOptions.disableContextMenu = false;
            defaultOptions.quality = {
                            default: {{ videos[0]["format"] }},
                        };
            {% block player %}{{ super() }}{% endblock %}
{% endblock %}
